<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Navigation bar, logo, etc. -->
        <nav>
            <ul>
			<li><a href="{% url 'home' %}">Home</a></li>
			{% if user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Logout</a></li>

				<!-- Link to Client Dashboard for all authenticated users (including coaches) -->
				<li><a href="{% url 'dashboard' %}">My Dashboard</a></li>
				
				<!-- Link to Coach List View -->
                <li><a href="{% url 'coach_list' %}">Find a Coach</a></li>

			{% else %}
				<li><a href="{% url 'signup' %}">Signup</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
		</ul>

        </nav>
    </header>

    <main>
        {% block content %}
        <!-- The content of each page will be inserted here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content here -->
        <p>© 2024 Coaching</p>
    </footer>
</body>
</html>
